https://github.com/Tigge/FIT-to-TCX/raw/refs/heads/main/tests/test.fit
https://github.com/finn-eger/derailleur/raw/refs/heads/main/fixtures/afternoon-ride.fit
https://github.com/finn-eger/derailleur/raw/refs/heads/main/fixtures/morning-trail-run.fit
https://github.com/finn-eger/derailleur/raw/refs/heads/main/fixtures/trail-run-course.fit
https://github.com/forcegage-pvm/dart_fit_decoder/raw/refs/heads/main/test/fixtures/activity_recent.fit
https://github.com/forcegage-pvm/dart_fit_decoder/raw/refs/heads/main/test/fixtures/activity_small.fit
https://github.com/rootrootde/python_fit_tool/raw/refs/heads/main/fit_tool/tests/data/trainerroad_744490.fit
https://github.com/rootrootde/python_fit_tool/raw/refs/heads/main/fit_tool/tests/data/stagesLink_28832.fit
https://github.com/rootrootde/python_fit_tool/raw/refs/heads/main/fit_tool/tests/data/stagesLink_25622166.fit
https://github.com/rootrootde/python_fit_tool/raw/refs/heads/main/fit_tool/tests/data/palisade.fit
https://github.com/rootrootde/python_fit_tool/raw/refs/heads/main/fit_tool/tests/data/activity_multiple_developer_index.fit
https://github.com/karaul/fitplotter/raw/refs/heads/main/examples/2021-01-26T17_13_43+00_00_6171809523.fit
https://github.com/karaul/fitplotter/raw/refs/heads/main/examples/2021-01-27T16_54_33+00_00_6177063128.fit
/new.txt
